// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$main-color: #752B6E;
$secondary-color: #b12d86;
$third-color: #424153;
$forth-color: #191930;
