
// #profile{
//   margin-top: -25px;
// }
// #profile-display{
//   line-height: 40px;
// }
$color: #000;
$color-bg: #c0c0c0;

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

// body {
//   background: $color-bg;
//   color: $color;
//   font-family: 'Varela Round', sans-serif;
//   line-height: 1.5;
//   margin: 0;
//   min-height: 100%;
// }

input {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  transition: all .3s;
}

/* ---------- ALIGN ---------- */

.align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---------- GRID ---------- */


.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 400px;
}

/* ---------- LOGIN ---------- */
#profile{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 120%;
  margin-top: 40%;
}
#profile h2 {
  background: $secondary-color;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

#profile h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#profile fieldset {
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

#profile fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#profile fieldset p:last-child {
  margin-bottom: 0;
}

#profile fieldset input {
  border-radius: 3px;
}

#profile fieldset input[type="email"], #profile fieldset input[type="password"] {
  background: #eee;
  color: #777;
  padding: 4px 10px;
  width: 100%;
}

#profile fieldset input[type="submit"] {
  background: #33cc77;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#profile fieldset input[type="submit"]:hover {
  background: #28ad63;

}#edit-profile{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 120%;
  margin-top: 20%;
  margin-bottom: 20%;
}
#edit-profile h2 {
  background: $secondary-color;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

#edit-profile h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#edit-profile fieldset {
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 2px 14px;
}

#edit-profile fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#edit-profile fieldset p:last-child {
  margin-bottom: 0;
}

#edit-profile fieldset input {
  border-radius: 3px;
}

#edit-profile fieldset input[type="email"], #edit-profile fieldset input[type="password"] {
  background: #eee;
  color: #777;
  padding: 4px 10px;
  width: 100%;
}

#edit-profile fieldset input[type="submit"] {
  background: #33cc77;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#edit-profile fieldset input[type="submit"]:hover {
  background: #28ad63;
}
// .form-group.input-edit{
//   text-align: left;
// }