<div class="footer">
<div class="footer-links">
  <a href="https://github.com/yosupgurl/CoinTrail"><i class="fab fa-github"></i></a>
</div>
<div class="footer-copyright">
   Made with <i class="fa fa-heart"></i> at The Secret Crypto Chamber (:
</div>
</div>

