<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<div id="doughnutChart" class="dochart"></div>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>

<div class="tablewrapper">
  <div class="searchbar">
    <input type="search" name="search" id="search" placeholder="Search by ticker">
  </div>
  <div class="tablecontainer">
    <div class="tableheader">
      <div class="tablerowcolum">Coin</div>
      <div class="tablerowcolum">Holdings</div>
      <div class="tablerowcolum">Price</div>
      <div class="tablerowcolum">24hr</div>
      <div class="tablerowcolum">Charts</div>
      <div class="tablerowcolum end">Alerts</div>
    </div>
    <div class="tablecontentcontainer">
      <% @total_balance.each do |b| %>
      <% alert_icon = b[:alert] == true ? "notification_on.png" : "notification.png"  %>
      <% arrow_icon = b[:change] < 0 ? "redarrow.png" : "greenarrow.png"  %>
      <div class="tablerow1">
        <div class="tablerowcontent">
          <div class="tablerowcolum indentrow"><%= image_tag "coinlog