<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<div id="doughnutChart" class="dochart"></div>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>

<div class="tablewrapper">
  <div class="searchbar">
    <input type="search" name="search" id="search" placeholder="Search by ticker">
  </div>
  <div class="tablecontainer">
    <div class="tableheader">
      <div class="tablerowcolum"