<div class="coin">
    <div class="front jump">
        <div class="star"></div>
        <span class="currency">฿</span>
        <div class="shapes">
            <div class="shape_l"></div>
            <div class="shape_r"></div>
            <span class="top">Coin</span>
            <span class="bottom">Trail</span>
        </div>
    </div>
    <div class="shadow"></div>
</div>
<div class="banner">
    <!-- particles.js container -->

    <div id