<div class="coin">
    <div class="front jump">
        <div class="star"></div>
        <span class="currency">฿</span>
        <div class="shapes">
            <div class="shape_l"></div>
            <div class="shape_r"></div>
            <span class="top">Coin</span>
            <span class="bottom">Trail</span>
        </div>
    </div>
    <div class="shadow"></div>
</div>
<div class="banner">
    <!-- particles.js container -->

    <div id="particles-js"></div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <div id="typed-text">
        <div id="typed-strings">
            <p>Track your Crypto Portfolio</p>
            <br>
            <p>Across <em>any</em> exchange</p>
            <br>
        </div>
        <span id="typed6"></span>
    </div>
    <div class="flexy">
        <%= link_to "Learn More", root_path(anchor: "learn-more"),  class: "bttn"%>
            <%= link_to "Sign up", root_path(anchor: "form-inputs"), class: "bttn" %>
    </div>
</div>

<div class="container">
    <div class="banner-learnmore">
        <div id="learn-more">
            <d