body {
  background: #222428;
  font-family: "Raleway", sans-serif;
}
.dochart {
position: relative;
width: 35vw;
height: 35vh;
top: 0;
margin-left: 5vw;
margin-bottom: -40px;
display: flex;
justify-content: center;
margin-top: 10vh;
flex-direction: column;
align-items: center;
}

.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 3